@import '../styles/global.scss';

.container {
    margin: 0;
    max-width: $container-width;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .content {
        max-width: $site-width;
        margin:  0 auto;
        flex: 1
    }
}