$container-width: 100%;
$site-width: 960px;
$color-palette-1: #222f3e;
$color-palette-2: #0984e3;
$color-palette-3: #222f3e;
$color-palette-4: #ffffff;
$color-palette-5: #fafafa;
$color-palette-6: #777777;
$color-palette-7: #dfe6e9;
$color-palette-8: #000000;
$color-palette-9: #576574;
