@import '../styles/global';

.container {
    width: $container-width;
    min-height: 140px;
    margin: 0 auto;
    padding-top: 30px;
    margin-top: 50px;

    .row {
        text-align: center;
        padding: 5px;
    }
}