@import '../../styles/global.scss';

$footer-height: 100px;

.container {
    background-color: $color-palette-3;
    // width: $container-width;
    height: $footer-height;
    position: relative;
    width: $container-width;

    .footer {
        margin: 0 auto;
        height: $footer-height;
        line-height: $footer-height;
        color: $color-palette-4;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 0 20px;
    }
}